.grid {
    display: grid;
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
    /* 8 rows, 8 columns */
    gap: 5px;
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}

.a {
    grid-area: 1 / 1 / span 2 / span 2;
}
.b {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
}

.c {
    grid-area: 3 / 1 / span 3 / span 3;
}

.d {
    grid-area: 6 / 1 / span 2 / span 8;
}